*{
    margin: 0%;
    padding: 0%;
}
body{
    height: 100vh;
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
}
.inst{
    display: flex;
    justify-content: space-evenly;
    transition: all 0.7 ease;
    width: 70%;
    margin: auto;
    align-items: center;
}
.aaD{
    width: 290px;
    height: 590px;
    position: relative;

}
img{
    width: 250px;
    height: 270px;

}
.icons{
    position: absolute;
    top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: rgb(0, 0, 0,0.3);
    z-index: -1;
    width: 250px;
    height: 270px;
}
.aaD:hover .icons{
    z-index: 1;
    
}